{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{{url_for('static', filename='js/search.js')}}"></script>
        <link href="{{url_for('static', filename='bootstrap-5.1.0-dist/css/bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <h1>DIANA Project</h1>
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        <ul style="margin-bottom: 0px;">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row align-items-center mt-5">
                <div style="display: flex; justify-content: space-between;">
                    <h1>Full Search</h1>
                    <div class="form-floating">
                        <button  type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#loadModal">
                            <span class="material-icons-outlined">
                                file_upload
                            </span><a>Load</a>
                        </button>
                    </div>
                </div>
            </div>
            <form method="post" action="/search/full/" onsubmit="return submitForm()">
                <div class="row align-items-center mt-5">
                    <h3 id="titleSearch" style="margin-right: 15px;">Search a subset of genes and mRNAs</h3>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-5">
                        <label for="genes" class="form-label label">Source</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-5">
                        <label for="genes" class="form-label label">Target</label>
                    </div>
                </div>
                <div class="row align-items-center" id="swapRow">
                    <div class="col-5">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="..." id="mrnas" name="mrnas" style="height: 150px" required oninput="validatemRNAs()"></textarea>
                            <label for="mrnas" class="form-label label" style="font-weight: 100; color: grey;">mRNAs Name</label>
                          </div>
                    </div>
                    <div class="col-2" style="display: flex; justify-content: center;">
                        <button id="swap" type="button" class="btn btn-primary" onclick="swapField()">
                            <span class="material-icons-round">
                                swap_horiz
                            </span>
                        </button>
                    </div>
                    <div class="col-5">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="..." id="genes" name="genes" style="height: 150px"  required oninput="validateGenes()"></textarea>
                            <label for="genes" class="form-label label" style="font-weight: 100; color: grey;">Genes ID</label>
                          </div>
                    </div>
                </div>
                <br>
                <div class="row align-items-center mt-2" style="padding: 10px; justify-content: center;">
                    <div class="customBorder" style="width: 200px;" id="fieldDataset">
                        <label  class="form-label label">Databases</label>
                        <div class="form-check" id='datasetForm'>
                            <div>
                                <input class="form-check-input" type="checkbox" id="pictar" onchange="checkDatabase()" name="pictar" checked>
                                <label class="form-check-label" for="pictar">PicTar</label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" id="targetscan" onchange="checkDatabase()" name="targetscan" checked>
                                <label class="form-check-label" for="targetscan">TargetScan</label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" id="rna22" onchange="checkDatabase()" name="rna22" checked>
                                <label class="form-check-label" for="rna22">RNA22</label>
                            </div>
                            <div>
                                <input class="form-check-input" type="checkbox" id="mirtarbase" onchange="checkDatabase()" name="mirtarbase" checked>
                                <label class="form-check-label" for="mirtarbase">miRTarBase</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input   type="radio" id="geneTarget" name="targetName" value="genes" checked>
                <br>
                    <div class="input-group mb-3 mt-3" style="display: flex;justify-content: center;">
                    <button type="submit" id="submit" class="btn btn-primary">
                        <span class="material-icons-outlined">
                            search
                        </span><a>Search</a>
                    </button>
                    </div>
                <br>
            </form>
            <!-- LOAD MODAL -->
            {% include "search/table_load_modal.html" %}
            <!-- LOAD MODAL -->
        {% endblock %}
        {% block script %}
        <script src="{{url_for('static', filename='js/api/SearchApi.js')}}" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/search/full/searchFullForm.js')}}" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/search/searchLoadModal.js')}}" crossorigin="anonymous"></script>
        {% endblock %}
        <script src="{{url_for('static', filename='bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
    </body>
</html>